doctype html 
html 
  head 
    title #{pagetitle}

    link(rel="stylesheet", href="/css/style.css")

    body 
      include ../partials/header.pug

      include ../partials/sider.pug 
      

      block main 

      

      script(src="/admin/js/script.js")